In [5]:
import pandas as pd 
df= pd.read_csv('melb_data.csv') 
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
df = df.dropna(axis=0)

In [7]:
y = df.Price

In [18]:
df_features= ['Rooms', 'Price','Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [19]:
X =df[df_features]
X.describe()#X.head()

,Rooms,Price,Bathroom,Landsize,Lattitude,Longtitude
count,6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.068828e+06,1.576340,471.006940,-37.807904,144.990201
std,0.971079,6.751564e+05,0.711362,897.449881,0.075850,0.099165
min,1.000000,1.310000e+05,1.000000,0.000000,-38.164920,144.542370
25%,2.000000,6.200000e+05,1.000000,152.000000,-37.855438,144.926198
50%,3.000000,8.800000e+05,1.000000,373.000000,-37.802250,144.995800
75%,4.000000,1.325000e+06,2.000000,628.000000,-37.758200,145.052700
max,8.000000,9.000000e+06,8.000000,37000.000000,-37.457090,145.526350

In [20]:
#Define: What type of model will it be? A decision tree? 
#Fit: Capture patterns from provided data. This is the heart of modeling.
#Predict
#Evaluate: Determine how accurate the model's predictions are.

In [21]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
df_model = DecisionTreeRegressor(random_state=1)

# Fit model
df_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [25]:
# print("Making predictions for the following 5 houses:")
# print(X.head())
# print("The predictions are")
# print(df_model.predict(X.head()))
# Assuming that you have a new instance that you want to predict the price for, with features stored in a list called `new_instance`
new_instance = [6196.000000,6.196000e+03,6196.000000,6196.000000,6196.000000,6196.000000]  # Example features for a new instance

# Use the trained model to make a prediction for the new instance
predicted_price = df_model.predict([new_instance])

# Print the predicted price
print("Predicted price for new instance", predicted_price)

Predicted price for new instance [131000.]

C:\Users\AYT-BRAIN\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(